<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="styles/ui.css">
    <link rel="stylesheet" href="styles/about.css">
</head>

<body>
    <header class="header">
        <h1 class="header__title">Tradecard</h1>
        <nav class="header__nav">
            <ul class="header__menu">
                <li><a href="/home" class="header__link">Home</a></li>
                <li><a href="/about" class="header__link">About</a></li>
                <li><a href="/contact" class="header__link">Contact</a></li>
                <li><a href="/cards" class="header__link">Cards</a></li>
                <% if (user) { %>
                    <li class="header__menu-item--dropdown">
                        <div class="dropdown">
                            <button class="header__button">Collections</button>
                            <div class="content">
                                <a href="/all_collections" class="header__link">View others</a>
                                <a href="/user_collection" class="header__link">View mine</a>
                            </div>
                        </div>
                    </li>
                <% } %>
                <li class="header__menu-item--dropdown">
                    <div class="dropdown">
                        <button class="header__button">Member access</button>
                        <div class="content">
                            <% if (user) { %>
                                <a href="/account" class="header__link">Account</a>
                                <a href="/message_inbox" class="header__link">Message inbox</a>
                                <a href="/logout" class="header__link">Log out</a>
                            <% } else { %>
                                <a href="/register" class="header__link">Register</a>
                                <a href="/login" class="header__link">Log in</a>
                            <% } %>
                        </div>
                    </div>
                </li>
                <li class="nav-border" id="memberNav"></li>
            </ul>
        </nav>
    </header>

    <main class="main about">
        <div class="about__container">
            <h1>About Us</h1>
            <p>Welcome to our Pokémon Trading Site, where nostalgia meets digital innovation!</p>
            <p>At <strong>Tradecard</strong>, we are dedicated to bringing back the cherished memories of Generation 1 Pokémon cards while introducing a fresh, interactive digital experience for fans old and new.</p>
            
            <div class="about__features">
                <div class="about__feature">
                    <h2>Explore Classic Pokémon Cards</h2>
                    <p>Dive into the vast collection of Generation 1 Pokémon cards, rekindling memories of your favorite childhood adventures. From Charizard to Pikachu, discover the iconic characters that captured our hearts.</p>
                </div>
                
                <div class="about__feature">
                    <h2>Become a Member</h2>
                    <p>Sign up to unlock exclusive features and join our vibrant community of collectors. As a member, you gain access to a range of benefits, including the ability to curate your own collection, explore others', and interact with fellow trainers through likes and comments.</p>
                </div>
                
                <div class="about__feature">
                    <h2>Digital Interactivity</h2>
                    <p>Immerse yourself in a whole new way of experiencing Pokémon cards. Our digital platform enhances the traditional card-collecting experience, allowing for dynamic interactions and personalized engagement.</p>
                </div>
                
                <div class="about__feature">
                    <h2>Connect with Fellow Trainers</h2>
                    <p>Share your passion for Pokémon with like-minded individuals from around the world. Engage in discussions, swap stories, and build connections that transcend geographical boundaries.</p>
                </div>
            </div>
            
            <p>Ready to embark on a digital Pokémon adventure like never before? Sign up now to become a member of our growing community. Whether you're here to relive cherished memories or create new ones, we're excited to have you on board!</p>
            <p>At <strong>Tradecard</strong>, the journey to catch 'em all begins here. Start exploring, start collecting, and start connecting with fellow trainers today!</p>
        </div>
    
</main>

    <footer>
        <p class="footer__text">&copy; 2024 Tradecard. All rights reserved.</p>
        <a href="mailto:tradecardproject@gmail.com" class="footer__email">Email us</a>
    </footer>

</body>
</html>